@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --font-ubuntu: "Ubuntu", sans-serif;
    --font-jaini: "Jaini", system-ui;
  }

  .ubuntu {
    font-family: var(--font-ubuntu);
  }
  .jaini {
    font-family: var(--font-jaini);
  }
}

@layer utilities {
  .text-middle {
    font-size: 20px;
    /* line-height: 1.2; Adjust as needed */
  }
  .text-box {
    font-size: 25px;
  }
  .text-topic {
    font-size: 40px;
  }

  .text-large {
    font-size: 90px;
  }

  .bg-custom-blue1 {
    background-color: #1d425e;
  }
  .text-custom-blue1 {
    color: #1d425e;
  }
  .border-custom-blue1 {
    border-color: #1d425e;
  }
  .topic-color {
    color: #02182e;
  }
  .bg-custom-blue2 {
    background-color: #02182e;
  }
  .text-custom-blue2 {
    color: #02182e;
  }
  .border-custom-blue2 {
    border-color: #02182e;
  }
  .bg-custom-blue3 {
    background-color: #376586;
  }
  .text-custom-blue3 {
    color: #376586;
  }
  .border-custom-blue3 {
    border-color: #376586;
  }
  .bg-custom-blue4 {
    background-color: #ccdee4;
  }
  .text-custom-blue4 {
    color: #ccdee4;
  }
  .border-custom-blue4 {
    border-color: #ccdee4;
  }

  .bg-color {
    background-color: #a3a6a6;
  }
}

:root {
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
